@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
            url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* General  */
*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
}

input, button, textarea, select {
    font: inherit;
}

body {
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* left column of page */
#logo-col {
    flex: 0 1 35%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    color: rgb(230, 230, 230);
    background:
        url('media/background.jpg')
        center /
        cover
        no-repeat;
}

#logo-col > * {
    position: relative;
}

.logo > img {
    width: 8rem;
    height: auto;
}

.logo {
    font-size: 4rem;
    font-family: "norsebold", system-ui;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25vh;

    background: rgba(0, 0, 0, 0.55);
    padding: 1rem;
}

.bg-credit {
    bottom: 1rem;
    font-size: 1.1rem;

    a:visited,
    a {
        color: rgb(230, 230, 230)
    }
}

/* right column of page */

#form-col {
    flex: 0 1 65%;
    background: rgb(241, 241, 241);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#form-col > p:not(.login-link) {
    font-weight: 600;
    font-size: 1.5rem;
    max-inline-size: 70ch;
}

form h2 {
    font-weight: 600;
}

#form-col > *:not(form),
form > *:not(button) {
    padding: 0 5%;
}

form {
    margin-top: 2rem;
}

.form-wrapper {
    background: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3)
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 1rem;
    max-width: 700px;
    margin-top: 1.5rem;
}

.form-input > label {
    display: block;
    
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: rgb(48, 48, 48);
}

.form-input {
    flex: 1 1 33%;
}

.form-input > input {
    width: 100%;
    min-width: 10rem;
    height: 2.2rem;
    border-radius: 0.3em;
    border: solid rgba(31, 31, 31, 0.3) 1px;
    background: rgba(243, 243, 243, 0.13);
    outline: none;

    padding-left: 0.5rem;
}

input[type="text"]:focus {
    border-color: blue;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

form .btn {
    margin: 2rem 0 0 5% ;
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    
    color: white;
    font-weight: bold;
    background: rgb(27, 77, 27);
    border: none;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.30);
}

.login-link {
    font-weight: 500;

    a,
    a:hover,
    a:visited {
        color:rgb(27, 77, 27);
        text-decoration: none;
    }
}

.error {
    opacity: 0;
    color: rgb(206, 1, 1);
    font-size: 0.9rem;
}

input[type='password']:invalid {
    border-color: rgb(206, 1, 1);

    + .error {
        opacity: 1;
    }
}